@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea {
  height: 140px;
}

button {
  @apply bg-gray-300;
}
button.primary {
  background-color: "red";
  @apply bg-[#edbf6d] text-[#00032e] hover:bg-[#d9a856] p-2 w-full  rounded-2xl;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}
